@font-face {
    font-family: 'klavika-light';
    src: url('./fonts/klavika-light.woff');
}

@font-face {
    font-family: 'klavika-medium';
    src: url('./fonts/klavika-medium.woff');
}

@font-face {
    font-family: 'klavika-bold';
    src: url('./fonts/klavika-bold.woff');
}

body {
    font-family: 'klavika-medium';
    background-image: linear-gradient(to right, #213498, #001689);
    margin: 0px;
    height: 100vh;
}


/* Navigation */

nav {
    background-color: #001689;
    font-family: 'klavika-bold' !important;
    color: #fff;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 180px 500px 350px 1fr;
    align-items: center;
    box-shadow: 0px -3px 11px 3px #000;
}

nav .nav-grid {
    display: grid;
    grid-auto-flow: column;
    height: 55px;
    justify-content: space-between;
}

.logo {
    padding-left: 30px;
}

nav .nav-grid.right {
    padding-right: 30px;
}

nav .nav-grid img.v-align-m {
    vertical-align: middle;
    align-items: center;
}

nav .nav-grid div {
    padding: 15px 15px 0px 15px;
}

nav .nav-grid div:hover {
    color: #04A6CC;
}

.active {
    background-color: #FB001B;
}


/* Body Styles */

.body-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.body-grid .left {
    padding: 80px 0px 0px 90px;
}

.center {
    text-align: center;
}

.center img {
    width: 70%;
    position: relative;
    top: 18%;
}

.breadcrumbs {
    color: #04A6CC;
    font-size: 22px;
    margin: 0;
    font-family: 'klavika-medium';
}

.ingredient-table {
    width: 100%;
    display: block;
    font-size: 22px;
    color: #fff;
}

.ingredient-table .table-row {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    height: 45px;
    border: 1px solid #2E48A2;
    grid-template-columns: 30% 70%;
    grid-gap: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.table-row .table-column:first-child {
    text-align: right;
}

.ingredient-table .table-row:last-child {
    grid-template-columns: 10% 70% 5%;
}

.tags-grid {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    height: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
}

.tags-grid .tag {
    color: #fff;
    background-color: #1A2E95;
    border-radius: 4px;
    padding: 5px;
    border-radius: 4px;
}

.body-grid .right {
    padding: 80px 90px 0px 0px;
}

.btn {
    height: 45px;
    border-radius: 4px;
    box-shadow: 4px 11px 19px -8px #000;
    background-color: #142391;
    color: #fff;
    font-family: 'klavika-medium';
    text-transform: uppercase;
    border: none;
    margin-bottom: 15px;
    font-size: 16px;
}

.btn-dropdown {
    width: 100%;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}

.btn-select {
    width: 65px;
    margin-right: 10px;
}

.btn-select.hover {
    border: 1px solid #04A6CC;
}

.btn-select.active {
    background-color: #04A6CC;
}

.add-to-cart {
    width: 100%;
    box-shadow: 4px 11px 19px -8px #000;
    background-color: #142391;
    border-radius: 4px;
    display: flex;
    margin-top: 55px;
}

.btn-qty {
    width: 25%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 1px solid #3E50A6;
    box-shadow: none;
    margin-bottom: 0px;
    margin-right: 0px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}

.btn-add {
    width: 74%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
    box-shadow: none;
    margin-bottom: 0px;
    margin-right: 0px;
    display: flex;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    font-size: 24px;
}

.grid {
    display: grid;
    grid-auto-flow: column;
}


/* Text Styles */

h3 {
    font-size: 34px;
    color: #fff;
    margin: 0;
}

h2 {
    font-size: 46px;
    color: #fff;
    margin: 0;
}

p {
    font-family: 'klavika-light';
    color: #fff;
    font-size: 22px;
}

sup {
    vertical-align: super;
    font-size: 17px;
}